@model RayaHesab.Models.Pardartb

<form id="formaction" asp-action="Editnoghre" onsubmit="return validatecoding" class="row DRight">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Mid" id="txtmid" />
    <input type="hidden" id="isedit" value="1" />
    <input type="hidden" asp-for="Userid" id="txtuser" />
    <input asp-for="Typec" class="form-control" type="hidden" />


    <div class="form-group col-md-3">
        <label asp-for="Noghabz" class="control-label">شماره قبض</label>
        <input asp-for="Noghabz" id="txtTitleC" onkeypress="handle(event,'txtmoinB')" class="form-control" />
        <span asp-validation-for="Noghabz" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Datec" class="control-label">تاریخ</label>
        <input asp-for="Datec" id="txtdate" onkeypress="handle(event,'txtmoinB')" class="form-control DateText" type="text" />
        <span asp-validation-for="Datec" class="text-danger"></span>

    </div>
    <div class="form-group col-md-3">
        <label class="control-label">فروشگاه</label>
        <select asp-for="Idanbar" asp-items="@ViewBag.listanbar" class="form-control">
            <option value="0">انتخاب کنید</option>
        </select>
    </div>
    <hr />
    <div class="col-sm-12">
    </div>

    <div class="form-group col-sm-6" style="background-color:lightyellow">
        <label style="display:block" class="control-label">شخص بدهکار</label>
        <div class="autocomplete form-group" style="display:block">
            <input value="@ViewBag.pname" id="txtpersonB" onkeypress="handle(event,'txtmoinS')" type="text" class="form-control">
        </div>
        <input type="hidden" value="@ViewBag.pid" asp-for="Pidbed" id="hfpersonidB" />
    </div>
    <div class="form-group col-sm-6" style="background-color:lightyellow">
        <label style="display:block" class="control-label">شخص بستانکار</label>
        <div class="autocomplete form-group" style="display:block">
            <input  value="@ViewBag.pnamebes"  id="txtpersonS" onkeypress="handle(event,'txtmoinS')" type="text" class="form-control">
        </div>
        <input type="hidden" asp-for="Pidbes" id="hfpersonidS" value="@ViewBag.pidbes" />
    </div>

    <div class="form-group col-sm-3">
        <label asp-for="Mablagh" class="control-label">مقدار (گرم)</label>
        <input asp-for="Mablagh" id="mab" onkeypress="handle(event,'not')" class="form-control" />
        <span asp-validation-for="Mablagh" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-6">
        <label asp-for="Note" class="control-label">توضیحات</label>
        <input asp-for="Note" id="not" onkeypress="handle(event,'btn')" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-12 modal-footer">
        <input style="padding-left:1em;padding-right:1em" type="button" onclick="actionrow()" value="ثبت" id="btn" class="btn btn-warning" />
        <div class="text-success" style="display:none">عملیات با موفقیت انجام شد</div>
    </div>
</form>
