@{
    Layout = null;
}
<input type="hidden" value="@ViewBag.uid" id="hfuid" />
<div class="row">
    <div class="col-md-12" style="z-index:10">
        <div class="SecContent row">
            <div class="col-md-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>صندوق / بانک</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{if (ViewBag.list != null)
                            {
                                foreach (var item in ViewBag.list)
                                {
                                    <tr>
                                        <td> @Html.Raw(item.Title)</td>
                                        <td>
                                            <a onclick="selsandogh(@item.Mid , '@ViewBag.uid')" href="#" class="btn btn-primary">انتخاب</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-6" >
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>صندوق / بانک</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{if (ViewBag.listq != null)
                            {
                                foreach (var item in ViewBag.listq)
                                {
                                    <tr>
                                        <td> @Html.Raw(item.BankNavigation.Title)</td>
                                        <td>
                                            <a onclick="delsandogh(@item.Mid , '@item.Userid')" href="#" class="btn btn-primary">حذف</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

